.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 240, 240, 0.52);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 30rem;
  background-color: #fff;
  padding: 0.6rem 3rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.close {
  width: 2rem;
  height: 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
}

.label {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
}

.input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.inputSm {
  width: 25%;
}

.textarea {
  font-family: inherit;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.extraItems {
  margin: 0.6rem 0;
  display: flex;
  flex-wrap: wrap;
}

.extraItem {
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid coral;
  background-color: white;
  color: coral;
  margin-right: 0.6rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.addButton {
  width: 25%;
  border: none;
  background-color: var(--color-secondary);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.3rem 0;
  align-self: flex-end;
}